.root {
    -fx-base: #524F74;
    -fx-background: #413E5E;
}

.button {
    -fx-background-color: #524F74;
    -fx-border-radius: 4pt;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #B1AFBB;
    -fx-border-width: .5px;
    -fx-border-radius: 4px;
    -fx-text-fill: #c2c2cc;
}